---
title: Childcare at Write/Speak/Code International Conference
layout: conference_layout
page_class: 'conference'
sub_page: true
---

%h1 Childcare &amp; Accessibility

%h3 Childcare &amp; Eldercare

%p
  %strong Write/Speak/Code
  is proud to offer childcare and eldercare for their events, including our seminal 3-day
  International Conference.
  Childcare will be available for
  %span.callout all 3 days
  for the duration of the conference.
  In addition to noting childcare on your registration, please 
  %a{ href: 'mailto:info@writespeakcode.com' }
    email info@writespeakcode.com
  with your child's age, dietary restrictions, and play/nap needs.

%h3 Accessibility

%p
  %strong Write/Speak/Code
  will be held in a 
  %span.callout wheelchair accessible venue.

%p
  %span.callout ASL interpreters
  will be made available as needed.
  In addition to noting your needs on your registration, please also
  = succeed '.' do
    %a{ href: 'mailto:info@writespeakcode.com' }
      email  info@writespeakcode.com
