---
title: Code Day -- Write/Speak/Code International Conference
alias : about/code.html
layout: conference_layout
page_class: 'conference code'
sub_page: true
---

= partial "conference/day_template", locals: { day_name: 'code', day_info: data.days.days.code }
