---
title: Speak Day -- Write/Speak/Code International Conference
alias : about/speak.html
layout: conference_layout
page_class: 'conference speak'
sub_page: true
---

= partial "conference/day_template", locals: { day_name: 'speak', day_info: data.days.days.speak }
