---
title: Write Day -- Write/Speak/Code International Conference
alias : about/write.html
layout: conference_layout
page_class: 'conference write'
sub_page: true
---

= partial "conference/day_template", locals: { day_name: 'write', day_info: data.days.days.write }
