---
title: Write/Speak/Code Chicago
alias : ["workshop-chi.html" ]
page_class: 'events workshops'
---

%h1 W/S/C Chicago Events

%h2 Getting Started in Open Source w/ Python
%h5 <b>&lt;</b> 10:00am &mdash; 4:00pm &nbsp; <b>/</b> &nbsp; July 25, 2015 &nbsp; <b>/</b> &nbsp; <i class="fa fa-map-marker"></i> #{link_to 'Enova', 'https://www.google.com/maps?f=q&hl=en&q=175+W+Jackson,+5th+Floor,+Chicago,+IL,+us'} &nbsp; <b>&gt;</b>

