---
title: Write/Speak/Code Chicago
alias : ["workshop-chi.html" ]
page_class: 'events workshops'
---

%h1 W/S/C Chicago Events

%h2 Getting Started in Open Source w/ Python
%h5 <b>&lt;</b> 10:00am &mdash; 4:00pm &nbsp; <b>/</b> &nbsp; July 25, 2015 &nbsp; <b>/</b> &nbsp; <i class="fa fa-map-marker"></i> #{link_to 'Enova', 'https://www.google.com/maps?f=q&hl=en&q=175+W+Jackson,+5th+Floor,+Chicago,+IL,+us'} &nbsp; <b>&gt;</b>
%br

%p Ready to contribute to Open Source!? From git to licensing, you'll learn all about open source logistics and culture.

%p
  Learn where to find projects and how to determine which projects are best for you. Get the low-down on how best to contribute and engage with open source maintainers.

%p
  We will have projects and Python mentors for you to work on and support you as you make your first open source contribution. Publish and contribute to open source by the end of the day!

%p.callout-primary Registration opens on Wednesday, July 8th<br><small class="details"><em> Childcare will be available for the duration of the event</em></small>


%p
  <i class="fa fa-paper-plane"></i> Subscribe to Write Speak Code's #{link_to 'mailing list', 'http://eepurl.com/baHs5X'} and check <em>Chicago</em> to be receive all updates on this event and future events.

%p
  P.S. Looking to brush up on your Python? #{link_to 'Chicago Pyladies', 'http://www.meetup.com/Chicago-PyLadies/'} is holding an #{link_to 'Intro to Python', 'http://www.meetup.com/Chicago-PyLadies/events/223062786/'} ahead of the event!