---
layout: conference
title: 2018 Write/Speak/Code Conference | Aug 1-4 | NYC
meta_title: 2018 Write/Speak/Code Conference
meta_description: 
<!-- href: https://2018.writespeakcode.com/index.html -->
social_title: 2018 Write/Speak/Code Conference for Women & Nonbinary Coders
social_description: Level up your career over 4 days designed to fully own your expertise through writing, speaking, and open source.
<!-- open_graph_img: https://2018.writespeakcode.com/assets/img/write-speak-code-conference.jpg
twitter_img: https://2018.writespeakcode.com/assets/img/WSC-coral-bg.jpg -->
---

 <section class="schedule-section anchor-section" id="about">
    <div class="qcTabTitle qcContainer clearfix" style="border-bottom: none;">
      <div class="col-4 col">
        <h2 class="section-title">About</h2>
      </div>
    </div>
      <div class="qcContainer qcTabDesc">
        <p class="qcTabDesc">
          Write/Speak/Code is an <strong>intensive, four-day, hands-on conference</strong> with workshops, personalized feedback sessions, panels, and talks by talented women and non-binary coders. Each day of the conference is themed: Write/Visibility Day, Speak/Leadership Day, Code/Project Day and Growth. Attendees leave the conference having <strong>developed blog posts, conference talks, open source  contributions</strong>, and more. We provide <strong>actionable next steps</strong> and a <strong>supportive community</strong> to keep attendees accountable to the goals they set at the conference and beyond.
        </p><br/>
        <p class="qcTabDesc">
          Our conference features two tracks:
        </p>
        <ul class="qcBulletList">
          <li><strong class="coral">Foundations</strong> features our original Write/Speak/Code curriculum designed to launch you into the next step of thought leadership, conference speaking, or open source coding.  This is a guided track that will have individual, pair, and small group exercises as well as panels and lectures.  Each day will end with the creation of a deliverable: a blog post draft, give a talk, and create a Pull Request!  This track is great for anyone who is new to writing, speaking, or coding or those in transition (moving from individual contributor to lead, re-entering after time off, changing focus areas etc).</li>
          <li><strong class="coral">Explorations</strong> will include talks, facilitated curriculum, and hands on workshops each day.  Workshops will culminate in creating a deliverable based on the day's theme (for example, a technical zine or an outline for a workshop you can give). This track is great for anyone who has attended our conference in the past, or who feels confident in writing, speaking, and coding from their current expertise.</li>
        </ul>
        </p>
      </div>
    </div>
    <div class="hentry qcContainer">
      <div id="qcScheduleContentTabs" class="qcPageContentTabs qcScheduleTabs clearfix">
      </div>
    </div>
  </div>
</section>


{% include speakers.html %}

{% include talks.html %}

{% include location.html %}

<section class="speakers anchor-section" id="scholarships">
   <div class="qcContainer qcTabTitle clearfix">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Scholarships</h2>
      </div>
    </div>
  </div>
  <div class="qcContainer hentry">
    <p class="qcTabDesc">
      Write/Speak/Code is thrilled to offer scholarships to our 4-day International Conference for:
    </p>
    <ul>
      <li>Women &amp; Non-Binary People of Color</li>
      <li>LGBTQIA</li>
      <li>Parents/Caretakers</li>
      <li>People with disabilities</li>
    </ul>

    <p class="qcTabDesc">
    Deadline to apply is 7 July, 2018 at 11:59 EST
    </p>
    <p class="qcTabDesc">
    Scholarships are awarded based on a combination of need and impact.
    </p>
    <p class="qcTabDesc">
    All selected recipients will receive a free ticket to the conference. We'll also be offering a limited number of need based travel stipends.
    </p>
    <a href="https://goo.gl/forms/Fb3ib4oJAC4tsQo62" class="button primary">Apply Now</a>
  </div>
</section>
