---
title: Write/Speak/Code Workshops
alias : ["workshop.html", "workshop-sf.html", "workshop-nyc.html"]
page_class: 'events workshops'
---

%h1 Workshops &amp; Events

%p
  Write/Speak/Code offers workshops of varying length in order to further our
  mission of empowering women engineers across the country and the world!

%p
  In addition to organizing our own events, Write/Speak/Code offers training
  to companies and organizations. Cost is on a sliding scale. To enquire about
  bringing a Write/Speak/Code workshop to your organization, please
  = succeed '.' do
    = link_to 'email info@writespeakcode.com', 'mailto:info@writespeakcode.com'

%h2 Available Workshops

%section.workshop
  %h3 &lt; Own Your Expertise / Workshop &gt;
  %h5
    Formats: Full Day, Half Day, 2 hour, 1 hour
  %p
    Solidifying and owning your expertise &mdash;
    your knowledge and experience &mdash; is the
    foundation of speaking at conferences
    contributing to open source, and
    %em changing the world!
    Learn to own your expertise and present
    yourself and your accomplishments with
    confidence.
    Convert
    your expertise into thought leadership
    conference speaking, and
    open source contributing.

  %h5 Full Day includes:
  %ul
    %li Imposter Syndrome Workshop
    %li Brainstorming exercises you can use again &amp; again
    %li Generate a list of topics to speak and write about
    %li Craft a compelling bio
    %li Outline your topic using techniques you can reuse

%section.workshop
  %h3 Technical Speaking Workshop
  %h5
    Formats: Full Day, Half Day, 1 hour
  %p
    Have you thought about giving a technical talk, but were
    never quite sure what you’d talk about?  This workshop is
    for you! You’ll learn to own your expertise and present
    yourself and your accomplishments with confidence. We
    will turn your knowledge and experience into a concrete
    list of topics for you to speak or write about.
  %p
    Do you have an idea for what to speak about, but are not
    sure how to turn that spark into a full-blown tech talk?
    Join us for this interactive workshop where you’ll learn
    the tools of a good argument, how to tell a story with
    your talk, and the difference between being right and
    being effective.  You will leave the workshop with an
    outline of a long talk and/or a lightning talk

  %h5 Full Day includes:
  %ul
    %li Brainstorming exercises you can use again &amp; again
    %li Generate a list of topics to speak and write about
    %li Outline your topic using techniques you can reuse
    %li Learn about the CFP process and write a talk proposal
    %li What makes compelling slides
    %li Public speaking tips and tricks

%h2 Upcoming Workshops

%ul.workshops.upcoming-workshops
  %li
    %h4= "&lt; #{link_to 'Getting Started in Open Source w/ Python (with Chicago PyLadies)', 'chicago/index.html'} &gt;".html_safe
    6-hour &mdash; Chicago &mdash; July 25, 2015

%h2 Past Workshops

%ul.workshops.past-workshops
  %li
    %h4 &lt; Own Your Expertise / Workshop &gt;
    Full Day &mdash; Chicago &mdash; Jan 11, 2015
  %li
    %h4 &lt; Own Your Expertise / Workshop &gt;
    2 hour &mdash; Girl Develop It Leadership Summit, New York &mdash; Nov, 2014
  %li
    %h4 Technical Speaking Workshop
    3 1-hour sessions &mdash; Dreamforce Conference, San Francisco &mdash; Oct 13-15, 2014
  %li
    %h4 &lt; Own Your Expertise / Workshop &gt;
    Full Day &mdash; San Francisco &mdash; Oct 11, 2014
  %li
    %h4 &lt; Own Your Expertise / Workshop &gt;
    Full Day &mdash; Chicago &mdash; Sept 13, 2014
