<!-- ## CODE OF CONDUCT SECTION ## -->
  <section class="code-of-conduct-section anchor-section" id="code-of-conduct">
    <div class="qcContainer qcTabTitle clearfix">
      <div class="row middle-sm">
        <div class="col-xs-12 col-sm-6">
          <h2 class="section-title">Code of Conduct</h2>
        </div>
        <div class="col-xs-12 col-sm-6 section-button-cta">
          <a href="{{ "/code-of-conduct.html" | prepend: site.baseurl }}" target="_blank" rel="noopener" class="button secondary">Read the full Code of Conduct</a>
        </div>
      </div>
    </div>
    <div class="hentry qcContainer">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <h3>The Quick Version</h3>
          <p class="quick-version-description">Our event and its associated online spaces are dedicated to providing a harassment-free experience for everyone, regardless of gender and gender identity, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate at any point during the event. Participants violating these rules may be sanctioned or expelled at the discretion of the organizers.</p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 rounded-corners need-help hidden-on-xs">
          <h3>Need Help?</h3>
          <h4>Our contact information will be provided to all conference participants and speakers upon registration.</h4>
        </div>
      </div>
    </div>
  </section>
