<nav class="conference-nav nav-container">
<!-- ## TABLET & DESKTOP NAV ### -->
  <section class="nav-section">
    <nav class="middleHeader">
        <ul>
          {% comment %}<li><a href="#schedule" class="link white">Schedule</a></li>{% endcomment %}
          <li><a href="#about" class="link">About</a></li>
          <li><a href="#speakers" class="link">Speakers</a></li>
          <li><a href="#talks" class="link">Talks</a></li>
          <li><a href="#location" class="link">Location</a></li>
          <li><a href="#scholarships" class="link">Scholarships</a></li>
          <li><a href="#sponsors" class="link">Sponsors</a></li>
          <li><a href="#code-of-conduct" class="link">Code of Conduct</a></li>
          <li><a href="#faq" class="link">FAQ's</a></li>
          <li id="tito-button"><tito-button event="write-speak-code/2018-conference">Register Now</tito-button></li>
        </ul>
      </nav>
  </section>


  <!-- ## MOBILE NAV ## -->
  <header id="mobileNav">
    <div class="qcContainer clearfix">
      <div class="col-6 col">
        <a id="mobile-cta" href="https://ti.to/write-speak-code/2018-conference/" target="_blank" rel="noopener" class="video register-cta cta button">Register Now</a>
      </div>

      <div class="col-6 col">
        <div id="qcOpenNav" class="tips" title="NAVIGATION"></div>
      </div>
    </div>

    <nav>
      <aside id="qcSiteNav">
        <div class="box">
          <h4>Navigation</h4>
          <ul id="qcPriNav">
            <li class="active"><a href="#">Top</a></li>
            {% comment %}<li><a href="#schedule">Schedule</a></li>{% endcomment %}
            <li><a href="#about" class="link">About</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <li><a href="#talks" class="link white">Talks</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#scholarships" class="link">Scholarships</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#code-of-conduct">Code of Conduct</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li id="nav-register"><a href="https://ti.to/write-speak-code/2018-conference/" class="video" target="_blank" rel="noopener">Register Now</a></li>
          </ul>
          <div id="qcCloseNav"></div>
        </div>
      </aside>
    </nav>
  </header>


  <!-- ### SITE NAV END ### -->
</nav>
