<nav class="conference-nav nav-container">
<!-- ## TABLET & DESKTOP NAV ### -->
  <section class="nav-section">
    <nav class="middleHeader">
      <ul>
        {% for nav_item in site.data.conference_nav %}
          {% unless nav_item.mobile_only %}
            <a href="{{ nav_item.url }}" class="link">
              <li>{{ nav_item.text }}</li>
            </a>
          {% endunless %}
        {% endfor %}
        <li id="tito-button"><tito-button event="write-speak-code/2018-conference">Register Now</tito-button></li>
      </ul>
    </nav>
  </section>


  <!-- ## MOBILE NAV ## -->
  <header id="mobileNav">
    <div class="qcContainer clearfix">
      <div class="col-6 col">
        <a id="mobile-cta" href="https://ti.to/write-speak-code/2018-conference/" target="_blank" rel="noopener" class="video register-cta cta button">Register Now</a>
      </div>

      <div class="col-6 col">
        <div id="qcOpenNav" class="tips" title="NAVIGATION"></div>
      </div>
    </div>

    <nav>
      <aside id="qcSiteNav">
        <div class="box">
          <h4>Navigation</h4>
          <ul id="qcPriNav">
            <li class="active"><a href="#">Top</a></li>
            {% for nav_item in site.data.conference_nav %}
              <li>
                <a href="{{ nav_item.url }}" class="link">
                  {{ nav_item.text }}
                </a>
              </li>
            {% endfor %}
            <li id="nav-register"><a href="https://ti.to/write-speak-code/2018-conference/" class="video" target="_blank" rel="noopener">Register Now</a></li>
          </ul>
          <div id="qcCloseNav"></div>
        </div>
      </aside>
    </nav>
  </header>


  <!-- ### SITE NAV END ### -->
</nav>
