  <!-- ## FAQ SECTION ## -->
  <section class="faq-section anchor-section" id="faq">
    <div class="qcContainer qcTabTitle clearfix">
      <div class="col-4 col">
        <h2 class="section-title">FAQ's</h2>
      </div>
    </div>
    <div class="hentry qcContainer">
      <div id="qcFaqContentTabs" class="qcPageContentTabs qcScheduleTabs clearfix">
        <ul class="clearfix">
          <li class="active">
            <a href="#faq-general">General</a>
          </li>
          <li>
            <a href="#faq-sponsors">Sponsors</a>
          </li>
          <li>
            <a href="#faq-care-accessibility">Care &amp; Accessibility</a>
          </li>
        </ul>
        <div id="faq-general">
          <ul class="qcFaqList qcScheduleList">
            <li class="toggle">
              <div>How does Write/Speak/Code define ‘coders’?</div>
              <div class="qcTogContent">
                <p>We define ‘coders’ as anyone who has written a line of code (HTML, CSS, JavaScript, Ruby, Python, Java, SQL whatever) and can explain what it does. Designers, E-book publishers, Salesforce Admins and beginners as well as engineers with 20 years of experience have enjoyed our workshops and been inspired by each other.</p>
              </div>
            </li>
            <li class="toggle">
              <div>Which airport should I fly into?</div>
              <div class="qcTogContent">
                <p>Three airports are accessible to our NYC venue: <a href="https://www.jfkairport.com/" target="_blank" rel="noopener">John F Kennedy International Airport</a>, <a href="http://www.laguardiaairport.com/" target="_blank" rel="noopener">Laguardia Airport</a>, or <a href="http://www.newarkairport.com/" target="_blank" rel="noopener">Newark Liberty International Airport</a>.</p>
              </div>
            </li>
            <li class="toggle">
              <div>How can I contact the organizers?</div>
              <div class="qcTogContent">
                <p>To contact the Write/Speak/Code organizers please email <a href="mailto:info@writespeakcode.com" >info@writespeakcode.com</a></p>
              </div>
            </li>
            <li class="toggle">
              <div id="refund-policy">What is the refund policy?</div>
              <div class="qcTogContent">
                <p>While we don't offer refunds, you can transfer your ticket to another person free of charge. Please reach out to  <a href="mailto:info@writespeakcode.com" >info@writespeakcode.com</a> before transferring the ticket for verification.</p>
              </div>
            </li>
          </ul>
        </div>
        <div id="faq-sponsors">
          <ul class="qcFaqList qcScheduleList">
            <li class="toggle">
              <div>How many people usually attend the conference?</div>
              <div class="qcTogContent">We’re expecting 300 attendees for this year’s conference.</div>
            </li>
            <li class="toggle">
              <div>Is there dedicated networking time for sponsors to connect with conference attendees?</div>
              <div class="qcTogContent">
                <p>Sponsor representatives will get to network with attendees during lunch breaks, extended snack breaks, and conference parties.</p>
              </div>
            </li>
            <li class="toggle">
              <div>Is there a sponsorship deadline for 2018?</div>
              <div class="qcTogContent">
                <p>The deadline for sponsorship depends upon the type and level of sponsorship. To sponsor the conference & conference related events, sponsors must commit by end of July. The sponsorship deadline for the local Own Your Expertise events will vary based on the local schedules.</p>
              </div>
            </li>
            <li class="toggle">
              <div>My company wants to sponsor Write/Speak/Code. What do we do next?</div>
              <div class="qcTogContent">
                <p>Check out our <a href="assets/sponsor-prospectus.pdf" target="_blank" rel="noopener">2018 Sponsorship Prospectus</a> for information on sponsorship levels and benefits then email us at <a href='mailto:sponsor@writespeakcode.com' target="_blank" rel="noopener">sponsor@writespeakcode.com</a>.</p>
              </div>
            </li>
          </ul>
        </div>
        <div id="faq-care-accessibility">
          <ul class="qcFaqList qcScheduleList">
            <li class="toggle">
              <div>What kind of childcare and eldercare will the conference provide?</div>
              <div class="qcTogContent">
                <p>Write/Speak/Code is proud to offer childcare and eldercare for all of our full-day events. Childcare will be available for the entire duration of the conference (4 days). In addition to noting childcare and/or eldercare on your registration when you purchase your ticket, please email <a href="mailto:info@writespeakcode.com">info@writespeakcode.com</a> with the following information:</p>
                <ul class="faq-content-list">
                  <li>Childcare: Age, dietary restrictions, and play/nap needs for each child.</li>
                  <li>Elder care: Dietary restrictions, medication schedules and any additional information we should know to provide appropriate care.</li>
                </ul>
                <p>Childcare and Eldercare will take place on the premises unless specifically instructed otherwise.</p>
              </div>
            </li>
            <li class="toggle">
              <div>Will the conference provide a private lactation room for attendees?</div>
              <div class="qcTogContent">
                <p>We will once again be offering a private Lactation Room for attendees during the conference. More information on room scheduling will be released leading up to the conference for those who request it. Please email <a href="mailto:info@writespeakcode.com">info@writespeakcode.com</a>.</p>
              </div>
            </li>
            <li class="toggle">
              <div>Which accessibility services will be provided during the conference?</div>
              <div class="qcTogContent">
                <p>Write/Speak/Code 2018 will be held in an ADA accessible venue. ASL interpreters and/or CART services will be made available as needed. In addition to noting your needs on your registration, please also email <a href="mailto:info@writespeakcode.com">info@writespeakcode.com</a> if you require other accommodations. We're happy to do whatever we can to make your experience comfortable, safe, and welcoming.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
