<footer class="footer-section">
  <div class="qcContainer">
    <div class="row middle-xs">
      <div class="col-xs-12 col-sm-2 center-xs">
        <a href="{{ "/" | prepend: site.baseurl}}"><img src="{{ "/assets/img/WSClogos_stacked_coral-blush-gold_screen.png" | prepend: site.baseurl }}" width="100%" alt="Write Speak Code logo" style="max-width: 150px;"/></a>
      </div>
      <div class="col-xs-12 col-sm-8">
        <a href="mailto:info@writespeakcode.com" target="_top">info@writespeakcode.com</a>
        <ul class="past-years">
          <h5>Past Years:</h5>
          <li><a href="http://www.writespeakcode.com/2013" target="_blank" rel="noopener" title="2013 W/S/C conference page">2013</a></li>
          <li><a href="http://2015.writespeakcode.com" target="_blank" rel="noopener" title="2015 W/S/C conference page">2015</a></li>
          <li><a href="http://2016.writespeakcode.com" target="_blank" rel="noopener" title="2016 W/S/C conference page">2016</a></li>
          <li><a href="https://2017.writespeakcode.com" target="_blank" rel="noopener" title="2017 W/S/C conference page">2017</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 center-xs">
        <ul class="social-links">
          <li><a href="https://twitter.com/WriteSpeakCode" class="tips" original-title="TWITTER" target="_blank" rel="noopener"><i class="icon-twitter icon"></i></a></li>
          <li><a href="https://www.meetup.com/pro/writespeakcode/" class="tips" original-title="MEETUP" target="_blank" rel="noopener"><i class="icon-meetup icon"></i></a></li>
          <li><a href="https://www.instagram.com/writespeakcode" class="tips" original-title="INSTAGRAM" target="_blank" rel="noopener"><i class="icon-instagram icon"></i></a></li>
          <li><a href="https://github.com/WriteSpeakCode" class="tips" original-title="GITHUB" target="_blank" rel="noopener"><i class="icon-github icon"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>