<nav class="home-nav nav-container">
<!-- ## TABLET & DESKTOP NAV ### -->
  <section class="nav-section">
    <nav class="middleHeader">
        <ul>
          {% comment %}<a href="#schedule" class="link white"><li>Schedule</li></a>{% endcomment %}
          <li><a href="#conference" class="link">Conference</a></li>
          <li><a href="#own-your-expertise" class="link">Own Your Expertise</a></li>
          <li><a href="#chapters" class="link">Chapters</a></li>
          <li><a href="#sponsors" class="link">Sponsors</a></li>
          <li><a href="#code-of-conduct" class="link">Code of Conduct</a></li>
          <li id="tito-button"><tito-button event="write-speak-code/2018-conference">2018 Conference Tickets</tito-button></li>
        </ul>
      </nav>
  </section>


  <!-- ## MOBILE NAV ## -->
  <header id="mobileNav">
    <div class="qcContainer clearfix">
      <div class="col-6 col">
        <a id="mobile-cta" href="https://ti.to/write-speak-code/2018-conference/" target="_blank" rel="noopener" class="video register-cta cta button">Register Now</a>
      </div>

      <div class="col-6 col">
        <div id="qcOpenNav" class="tips" title="NAVIGATION"></div>
      </div>
    </div>

    <nav>
      <aside id="qcSiteNav">
        <div class="box">
          <h4>Navigation</h4>
          <ul id="qcPriNav">
            <li class="active"><a href="#">Top</a></li>
            <li><a href="#conference" class="link">Conference</a></li>
          <li><a href="#own-your-expertise" class="link">Own Your Expertise</a></li>
          <li><a href="#chapters" class="link">Chapters</a></li>
          <li><a href="#sponsors" class="link">Sponsors</a></li>
          <li><a href="#code-of-conduct" class="link">Code of Conduct</a></li>
          <li id="nav-register"><a href="https://ti.to/write-speak-code/2018-conference/" class="video" target="_blank" rel="noopener">2018 Conference Tickets</a></li>
          </ul>
          <div id="qcCloseNav"></div>
        </div>
      </aside>
    </nav>
  </header>


  <!-- ### SITE NAV END ### -->
</nav>
