<!-- ## LOCATION SECTION ## -->
  <section class="location-section anchor-section" id="location">
    <div class="qcContainer qcTabTitle clearfix">
      <div class="col-4 col">
        <h2 class="section-title">LOCATION</h2>
      </div>
    </div>
    <div id="qcVenueContentTabs" class="hentry qcPageContentTabs qcContainer clearfix">
      <ul class="clearfix">
        <li class="active">
          <a href="#primary-venue-map">Primary Venue</a>
        </li>
        <li>
          <a href="#secondary-venue-map">Secondary Venue</a>
        </li>
        <li>
          <a href="#hotels">Hotels</a>
        </li>
      </ul>
      <div class="row venue-info-map" id="primary-venue-map">
        <div class="col-xs-12 col-sm-6 col-md-4 venue-info-bg">
          <div class="venue-info-content">
            <a href="https://www.microsoft.com/en-us/mtc/locations/new-york.aspx" target="_blank" rel="noopener" class="link coral">
            <h3>Microsoft Conference Center</h3></a>
            11 Times Square, <br>
            New York, NY <br>
            10036 <br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="padding: 0;height: 300px;">
          <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBd5MO9_HdulC6awKRMB_DsUswvWpJzIaI
          &q=Microsoft+Technology+Center,New+York+NY" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row venue-info-map" id="secondary-venue-map">
        <div class="col-xs-12 col-sm-6 col-md-4 venue-info-bg">
          <div class="venue-info-content">
            <a href="http://www.jpoconcepts.com/studio-arte/" target="_blank" rel="noopener" class="link coral">
            <h3>Studio Arte</h3></a>
            265 W 37th St, <br>
            New York, NY <br>
            10018 <br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8" style="padding: 0;height: 300px;">
          <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBd5MO9_HdulC6awKRMB_DsUswvWpJzIaI
          &q=Studio+Arte,New+York+NY" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="hotel-section" id="hotels">
        <!-- ## TAB DESC ## -->
        <p>As you gear up to book your stay in New York, take advantage of the hotel blocks we’ve set up with several local hotels. Hotels and instructions below to book your stay at the Weston, Homewood Suites Midtown Manhattan Times Square South, and The Hampton Inn.</p>
        <!-- ## VENUE HOTEL LIST ## -->
        <div class="row hotels-head">
          <div class="col-sm-5">Name</div>
          <div class="col-sm-3">Price</div>
          <div class="col-sm-3">Bookings</div>
        </div>
        <div class="row middle-xs hotel-info">
          <div class="col-xs-12 col-sm-5">
            <a href="http://www.westinny.com/" target="blank"><h2>The Westin at Times Square</h2></a>
            <address>270 West 43rd Street, New York, NY, 10036</address>
            <small>0.1 miles from Microsoft Conference Center</small>
          </div>
          <div class="col-xs-12 col-sm-3">
            <dl>
              <dd>Room rate - $279/night</dd>
              <dd>Booking Deadline - July 1, 2018</dd>
            </dl>
          </div>
          <div class="col-xs-12 col-sm-3">
            <p>
              <a href="https://www.starwoodhotels.com/preferredguest/room.html?propertyID=1380&departureDate=2018-06-11&lengthOfStay=1&arrivalDate=2018-06-10&localeCode=en_US&numberOfRooms=1&language=en_US&numberOfAdults=1&ES=LPS_1380_EN_WI_BOOKWIDGET_NAD&numberOfChildren=0" target="blank" class="button secondary">Book a room online</a>
            </p>
            <p class="show-on-mobile">
              <a href="tel:2122012700">212-201-2700</a>
            </p>
          </div>
        </div>

        <div class="row middle-xs hotel-info">
          <div class="col-xs-12 col-sm-5">
            <a href="http://homewoodsuites3.hilton.com/en/hotels/new-york/homewood-suites-by-hilton-new-york-midtown-manhattan-times-square-south-ny-NYCMMHW/index.html" target="blank"><h2>Homewood Suites by Hilton, Midtown Manhattan</h2></a>
            <address>312 West 37th Street New York, NY 10018</address>
            <small>0.3 miles from Microsoft Conference Center</small>
          </div>
          <div class="col-xs-12 col-sm-3">
             <dl>
              <dd>King Room - $259/night</dd>
              <dd>Double Queen Room - $309/night</dd>
              <dd>Booking Deadline - June 28, 2018</dd>
            </dl>

          </div>
          <div class="col-xs-12 col-sm-3">
            <p>
              <a href="http://homewoodsuites3.hilton.com/en/hotels/new-york/homewood-suites-by-hilton-new-york-midtown-manhattan-times-square-south-ny-NYCMMHW/index.html" target="blank" class="button secondary">Book a room online</a>
            </p>
            <p class="show-on-mobile">
              <a href="tel:2122440644">212-244-0644</a>
            </p>
          </div>
        </div>

        <div class="row middle-xs hotel-info">
          <div class="col-xs-12 col-sm-5">
            <a href="http://hamptoninn3.hilton.com/en/hotels/new-york/hampton-inn-manhattan-times-square-central-NYCFFHX/index.html" target="blank"><h2>The Hampton Inn, Time Square Central</h2></a>
            <address>220 West 41st Street New York, NY 10036</address>
            <p>0.1 miles from Microsoft Conference Center</p>
          </div>
          <div class="col-xs-12 col-sm-3">
             <dl>
              <dd>King Room - $219/night</dd>
              <dd>Double/Double Room - $259/night</dd>
              <dd>Booking Deadline- July 2, 2018</dd>
            </dl>
          </div>
          <div class="col-xs-12 col-sm-3">
            <p>
              <a href="http://group.hamptoninn.com/WriteSpeakCode" target="blank" class="button secondary">Book a room online</a>
            </p>
            <p class="show-on-mobile">
              <a href="tel:8446065975">844-606-5975</a> or
              <a href="tel:2122211188">212-221-1188</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

