{% assign reg = site.data.conference_registration[site.data.conference_registration.status] %}

<section class="speakers anchor-section" id="scholarships">
   <div class="qcContainer qcTabTitle clearfix">
    <div class="row middle-sm">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-title">Scholarships</h2>
      </div>
    </div>
  </div>
  <div class="qcContainer hentry">
    <h3>Scholarships are now closed.</h3>
        <a href="{{ reg.register_link }}"  class="button primary" target="_blank" rel="noopener">{{ reg.register_text }}</a>
    <br /><br />
    <p class="qcTabDesc">
      Write/Speak/Code is thrilled to offer scholarships to our 4-day International Conference for:
    </p>
    <ul>
      <li>Women &amp; Non-Binary People of Color</li>
      <li>LGBTQIA</li>
      <li>Parents/Caretakers</li>
      <li>People with disabilities</li>
    </ul>

    <p class="qcTabDesc">
    Deadline to apply is 7 July, 2018 at 11:59 EST
    </p>
    <p class="qcTabDesc">
    Scholarships are awarded based on a combination of need and impact.
    </p>
    <p class="qcTabDesc">
    All selected recipients will receive a free ticket to the conference. We'll also be offering a limited number of need based travel stipends.
    </p>
  </div>
</section>
