<!-- ## SPONSOR SECTION ## -->

  <section class="sponsors-section qcContainer anchor-section" id="sponsors">
    <div class="qcTabTitle clearfix">
      <div>
        <div class="col-4 col">
          <h2 class="section-title">Sponsors</h2>
        </div>
        <div class="col-8 col">
          <p class="qcTabDesc">For great employers, sponsorship is the most effective way to recruit talented, driven women and non-binary coders to fill key technical positions and demonstrate your commitment to the professional development of people of underrepresented genders at your organization. Write/Speak/Code is a 501c3 nonprofit. Contact <a href="mailto:sponsor@writespeakcode.com" target="_top">sponsor@writespeakcode.com</a> to learn more.<br /> <br />
            <a href="{{ "/assets/WSC-SponsorshipProspectus-2018.pdf" | prepend: site.baseurl }}" target="_blank" rel="noopener" class="link coral">Read our 2018 Prospectus</a>
        </div>
      </div>
    </div>
    <div class="row all-sponsors">
      <div class="col-xs-12">
        <div class="row sponsor-level">
          <div class="col-4 col level-title">
            <h3>Platinum</h3>
            <a href="https://github.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/github-logo.png" | prepend: site.baseurl }}" alt="Conference sponsor Github logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row sponsor-level">
          <div class="col-4 col level-title">
            <h3>Gold</h3>
            <a href="https://www.nytimes.com" target="_blank" rel="noopener"><img class="sponsor-logo nyt-logo" src="{{ "/assets/img/logos/nytimes-logo.jpg" | prepend: site.baseurl }}" alt="Conference sponsor NY Times logo"/></a>
          </div>

          <div class="col-4 col level-title">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo azure-gold-logo" src="{{ "/assets/img/logos/microsoft-azure-logo.svg" | prepend: site.baseurl }}" alt="Conference sponsor Microsoft Azure Advocates logo"/></a>
          </div>
        </div>
      </div>
<!--       <div class="col-xs-12">
        <div class="row sponsor-level">
          <h3 class="col-xs-12 level-title">Silver Sponsors</h3>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="http://cdk-global.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/cdk-logo.png" alt="Conference sponsor CDK Global logo"/></a>
              <p>CDK Global is the largest global provider of integrated information technology and digital marketing solutions to the automotive retail industry.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="http://kcura.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/kCura-logo.jpg" alt="Conference sponsor Kcura logo"/></a>
              <p>kCura: kCura develops e-discovery software Relativity for managing large volumes of electronic evidence during litigation or investigations.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <a href="https://mailchimp.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="assets/img/logos/mailchimp-logo.png" alt="Conference sponsor Mailchimp logo"/></a>
              <p>Mailchimp: More than 10 million businesses around the world use MailChimp for marketing automation and email newsletters.</p>
            </div>
        </div>
      </div> -->
      <div class="col-xs-12">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Bronze</h3>
          <div class="col-xs-6 col-sm-3">
            <a href="http://xogroupinc.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/xogroup-logo.png" | prepend: site.baseurl }}" alt="Conference childcare sponsor XO logo"/></a>
          </div>
          <div class="col-xs-6 col-sm-3">
            <a href="http://allenai.org" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/allen-institute-for-artificial-intelligence-logo.png" | prepend: site.baseurl }}" alt="Conference sponsor Allen Institute for Artificial Intelligence logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Workshops</h3>
          <div class="col-xs-6 col-sm-3">
            <a href="https://www.carbonfive.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/carbon-5-logo.png" style="width:180px" | prepend: site.baseurl }}" alt="Conference childcare sponsor Carbon Five logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Accessibility</h3>
          <div class="col-xs">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/microsoft-azure-logo.svg" | prepend: site.baseurl }}" alt="Conference sponsor Microsoft Azure Advocates logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level supporters">
          <h3 class="col-xs-12 level-title">Childcare</h3>
          <div class="col-xs">
            <a href="https://developer.microsoft.com/en-us/advocates/index.html" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/microsoft-azure-logo.svg" | prepend: site.baseurl }}" alt="Conference sponsor Microsoft Azure Advocates logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Headshots</h3>
          <div class="col-xs">
            <a href="https://movableink.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/movable-ink-logo.png" | prepend: site.baseurl }}" alt="Conference headshot sponsor Movable Ink logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level supporters">
          <h3 class="col-xs-12 level-title">Own Your Expertise</h3>
          <div class="col-xs">
            <a href="https://www.generalui.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/gui-logo.png" | prepend: site.baseurl }}" alt="Own Your Expertise sponsor General UI logo"/></a>
          </div>
          <div class="col-xs">
            <a href="https://www.devmynd.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/devmynd-logo.png" | prepend: site.baseurl }}" alt="Own Your Expertise sponsor DevMynd logo"/></a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row middle-xs sponsor-level">
          <h3 class="col-xs-12 level-title">Chapters</h3>
          <div class="col-xs">
            <a href="https://www.vts.com/" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/vts-logo.png" | prepend: site.baseurl }}" alt="Meetup chapter sponsor VTS logo"/></a>
          </div>
          <div class="col-xs">
            <a href="https://movableink.com" target="_blank" rel="noopener"><img class="sponsor-logo" src="{{ "/assets/img/logos/movable-ink-logo.png" | prepend: site.baseurl }}" alt="Meetup chapter sponsor Movable Ink logo"/></a>
          </div>
        </div>
      </div>
    </div>
  </section>
