<!-- ## TESTIMONIALS SECTION ## -->
  <section class="testimonials-section anchor-section" id="testimonials">
    <div class="qcContainer clearfix">
      <div class="qcTabTitle clearfix">
        <div class="col-4 col">
          <h2 class="section-title">Testimonials</h2>
        </div>
      </div>
        <ul class="testimonials-carousel hentry clearfix">
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">True Story. This conference changed my life and is the reason why I now write and speak about code. And Im only one of many! <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> <a href="https://t.co/WZUxrkwcud">https://t.co/WZUxrkwcud</a></p>&mdash; Angie Jones (@techgirl1908) <a href="https://twitter.com/techgirl1908/status/802645541985210368">November 26, 2016</a>
            </blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">One of the things I always love about <a href="https://twitter.com/WriteSpeakCode">@writespeakcode</a> is that I find so many new amazing techie women to follow. ☺️ <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a></p>&mdash; Sarah Mei (@sarahmei) <a href="https://twitter.com/sarahmei/status/744264440539938816">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks for an awesome conference <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> - so many great talks, so much support in this community!  ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a></p>&mdash; Resist, Rise, Repeat (@ajpeddakotla) <a href="https://twitter.com/ajpeddakotla/status/744272710155517952">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;ve had an amazing time these past few days with ~150 women developers. Can&#39;t recommend attending <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> enough!</p>&mdash; Annie Hsieh (@ankey) <a href="https://twitter.com/ankey/status/744281849577381888">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;ll promote <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> to ALL women developers I know! Best part is being in a room of all women and unapologetically being ourselves!</p>&mdash; Emily Stamey (@elstamey) <a href="https://twitter.com/elstamey/status/744161584398794752">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">THE RUMORS ARE TRUE: <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> is an amazing conference. Super hands-on, inclusive, empowering. <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a></p>&mdash; Siena (@sienatime) <a href="https://twitter.com/sienatime/status/743205226434400256">June 15, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">Yay for the amazing energy <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a>!! Excited for growth and community these next 3 days 😌 <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a> <a href="https://t.co/6uyYoNZzRh">pic.twitter.com/6uyYoNZzRh</a></p>&mdash; Tiffany Mikell (@mikellsolution) <a href="https://twitter.com/mikellsolution/status/743081487663271936">June 15, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I am in awe of the developers I’ve met <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> today.  Seriously!</p>&mdash; Emily Stamey (@elstamey) <a href="https://twitter.com/elstamey/status/743287577503989760">June 16, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">One of the best conferences I went to in 2016. <a href="https://twitter.com/hashtag/writespeakcode?src=hash">#writespeakcode</a> <a href="https://twitter.com/hashtag/wsc?src=hash">#wsc</a> <a href="https://t.co/rznCoNE506">https://t.co/rznCoNE506</a></p>&mdash; Nicolette Chambers (@nicolette3883) <a href="https://twitter.com/nicolette3883/status/817353447423045632">January 6, 2017</a>
            </blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> for <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a> - amazing, tiring, happy, wonderful experience. <a href="https://twitter.com/hashtag/womenintech?src=hash">#womenintech</a></p>&mdash; Kal (@KalUndefined) <a href="https://twitter.com/KalUndefined/status/744272794532339712">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> is legit one of the best conferences I&#39;ve ever attended 😂🙌🏾💁🏽 <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a> <a href="https://twitter.com/hashtag/WeLoveColor?src=hash">#WeLoveColor</a> 🎨 <a href="https://t.co/c2Ga7DMVEY">pic.twitter.com/c2Ga7DMVEY</a></p>&mdash; Debbie-jean Lemonte (@TheLocdBella) <a href="https://twitter.com/TheLocdBella/status/744267099380547584">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A warm THANK YOU to <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> for organizing such an amazing conference!! Hope to see everyone I met there again! <a href="https://twitter.com/hashtag/wsc2016conf?src=hash">#wsc2016conf</a></p>&mdash; Julianna Rusakiewicz (@juliannarusak) <a href="https://twitter.com/juliannarusak/status/744246096851939329">June 18, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Having a fabulous time <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a>. Honored to be a speaker &amp; thrilled to be a part of a safe, welcoming community.</p>&mdash; Iris Amelia 📎✊🏽 (@epubpupil) <a href="https://twitter.com/epubpupil/status/743953040894484480">June 17, 2016</a></blockquote>
          </li>
          <li>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">glad to see <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> organizers are easily identifiable by their shiny purple sashes. CRUCIAL to enforce a code of conduct!</p>&mdash; Cat (@cfarm) <a href="https://twitter.com/cfarm/status/743839976069152769">June 17, 2016</a></blockquote>
          </li>
        </ul>
      </div>
    </div>
  </section>
