/* SCHOLARSHIPS */
#scholarships {
  color: $white;

  .qcTabDesc {
    color: $brand-blush;
  }

  .qcTabTitle {
    padding-bottom: 20px;
  }

  ul {
    list-style: disc inside none;
    margin-left: 1em;
    color: $brand-blush;
  }
}
