$brand-coral: #EB6851;
$brand-dark: #172751;
$brand-light: #D5A96C;
$brand-lighter: #C5E8D3;
$brand-blush: #F1D8D3;
$white: #fff;

$breakpoint-xsm: 415px;
$breakpoint-sm-1: 767px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 1400px;

$primary-font-face: 'Open Sans', sans-serif;
$secondary-font-face: 'PT Sans', sans-serif;

$highlight-color: $brand-coral;

$base-border-radius: 8px;
$small-spacing: 8px;
$base-spacing: 16px;

$smallest-font-size: 12px;
$smaller-font-size: 14px;