---
title: Speakers for Write/Speak/Code International Conference
alias: speakers.html
page_class: 'conference speakers'
layout: conference_layout
sub_page: true
---

= partial 'people_list', locals: { filter: 'speaker', show_talk: true, sort_include_weight: true}

