---
title: Speak Day -- 2015 Write/Speak/Code International Conference
alias : about/speak.html
layout: conference_layout
page_class: 'conference speak'
sub_page: true
---

= partial "2015-conference/day_template", locals: { day_name: 'speak', day_info: data.days.days.speak }
