---
title: Write/Speak/Code Testimonials
alias: testimonials.html
page_class: 'testimonials conference'
layout: 'conference_layout'
sub_page: true
---


%h2
  Our
  = link_to '2013 attendees', '/2013/'
  said ...


%blockquote.lead
  %em
    Thank you so much for inspiring everyone to be heard!!! So much of this is 
    because I went to WSC. 
    %strong
      I didn’t understand how the conference proposal process even worked before. 
    I hope this happens again next year.

%blockquote.lead
  Write/Speak/Code is 
  %strong
    definitely the best women-in-tech event I have ever attended.
  I really 
  did enjoy being there and actually meeting other women that also enjoyed talking 
  about technology and programming.


%blockquote.lead
  %em
    WriteSpeakCode was such an 
    %strong incredible experience. 
    I think I'm still absorbing 
    many of the lessons. I loved the list you sent as a check up. It's exactly the 
    kind of thing I should keep on my wall and look over every day to remind me to 
    get something important done every day.

