/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

textarea {
  overflow: auto;
  vertical-align: top; }

html {
  background: #45727A;
  height: 100%;
  position: relative; }

body {
  color: #fff;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin-bottom: 55px; }

#footer {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 10;
  font-size: 13px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.3; }

#footer a {
  color: #fff;
  font-weight: 600;
  text-decoration: none; }

main {
  position: relative;
  z-index: 10;
  margin-top: 8%; }

h1, h2, p {
  text-shadow: 2px 2px 0 black;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4); }

p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400; }

h1 + p + p {
  margin-top: 0.8em; }

header {
  margin: 10% 0; }

header h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1.5%; }

input.email {
  background: none;
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  color: #ffffff;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 19px;
  width: 13em;
  text-align: center;
  line-height: 1.7;
  border-radius: 0;
  -webkit-appearance: none;
  text-shadow: 0 1px 0 black;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4); }

input.email.error {
  border-color: #C60720;
  color: #ffffff; }

input.placeholder {
  color: white !important;
  color: rgba(255, 255, 255, 0.7) !important;
  text-shadow: none !important; }

label {
  display: block;
  margin-bottom: 0.5%; }

@media screen and (orientation: portrait) {
  main {
    margin-top: 12%; }

  header {
    margin: 20% 0; } }
@media screen and (max-width: 700px) {
  header h1 {
    font-size: 70px;
    margin-bottom: 2%; }

  p {
    font-size: 19px; padding-bottom: 20px;
}

  input.email {
    font-size: 18px; } }
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 42px;
    margin-bottom: 5%;
    font-weight: 700; }

  p {
    font-size: 15px; }

  input.email {
    font-size: 15px; }

  #footer .middot {
    display: none; }

  #footer .wbr {
    display: block; } }
@media screen and (max-height: 400px) {
  main {
    margin-top: 8%; }

  header {
    margin: 12% 0; }

  #footer {
    margin-top: 3em;
    padding-bottom: 0.5em;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; } }
