/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */

// Variables
@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";

// Extends
@import "extends/button";
@import "extends/clearfix";
@import "extends/errors";
@import "extends/flashes";
@import "extends/hide-text";

// Typography and Elements
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "buttons";

@mixin square-border {
  @include border-top-radius($base-border-radius);
  @include border-bottom-radius($base-border-radius);
  @include border-right-radius($base-border-radius);
  @include border-left-radius($base-border-radius);
}

@mixin round-border {
  @include border-top-radius(50%);
  @include border-bottom-radius(50%);
  @include border-right-radius(50%);
  @include border-left-radius(50%);
}

blockquote {
  @extend .fa, .fa-quote-left;
  @include square-border;

  background-color: transparentize($brand-secondary, .5);
  padding: 1em;
  line-height: $base-line-height * 1.1;

  &:before {
    margin-right: 10px;
  }

  &:nth-child(even) {
    background-color: transparentize($brand-accent, .2);
    border-left-color: $dark-gray;
    color: $white;
  }
}
