@mixin set-button-color($main-color: $base-button-color, $contrast-color:
$white) {
  background-color: $main-color;
  color: $contrast-color;

  &:hover {
    background-color: darken($main-color, 20);
    text-decoration: none;
  }
}

@mixin set-inverted-button-color($main-color: $base-button-color, $contrast-color:
$white) {
  border: $base-border-radius solid $main-color;
  color: $main-color;

  &:hover {
    background-color: $main-color;
    color: $contrast-color;
  }
}


@mixin std-button($main-color: $base-button-color, $contrast-color:
$white) {
  @include set-button-color($main-color, $contrast-color);
  border-radius: $base-border-radius;

  display: inline-block;
  font-size: 1em;
  font-weight: bold;

  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}

@mixin inverted-button($main-color: $base-button-color, $contrast-color:
$white) {
  @include std-button($contrast-color, $main-color);
  @include set-inverted-button-color($main-color, $contrast-color);
}

button,
input[type="submit"], .button, a.button {
  @include std-button;
  @include colored-link($white);
  @include appearance(none);

  font-family: $sans-serif;
  border: none;
  cursor: pointer;

  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.primary { @include set-button-color($brand-primary); }
  &.alert { @include set-button-color($brand-secondary, $dark-gray); }
  &.error { @include set-button-color($brand-primary-dark); }
  &.notice { @include set-button-color($brand-accent); }
  &.success { @include set-button-color($brand-accent-dark); }

  &.inverted {
    @include inverted-button;

    &.primary { @include set-inverted-button-color($brand-primary); }
    &.alert { @include set-inverted-button-color($brand-secondary, $dark-gray); }
    &.error { @include set-inverted-button-color($brand-primary-dark); }
    &.notice { @include set-inverted-button-color($brand-accent); }
    &.success { @include set-inverted-button-color($brand-accent-dark); }
  }

  &.skinny {
    padding: .25em .5em;
  }
}

.button-list {
  margin: 1em;
  li {
    display: inline-block;
    padding: 1em;
  }
}
