@mixin display-font($style: regular) {
  font-family: $header-font-family;

  $weight: 500;
  @if $style == thin {
    $weight: 200;
  } @else if $style == light {
    $weight: 300;
  } @else if $style == bold {
    $weight: 700;
  } @else if $style == black {
    $weight: 900;
  }

  font-weight: $weight;
  font-style: normal;

}

@mixin display-font-normal { @include display-font; }

@mixin display-font-bold { @include display-font('bold'); }
@mixin display-font-boldest { @include display-font(black); }

@mixin display-font-light { @include display_font('light'); }
@mixin display-font-lightest { @include display-font('thin'); }

@mixin colored-link($color) {
  &, &:hover, &:visited {
    color: $color;
    text-decoration: none;
  }

  &:hover {
    color: darken($color, 20);
    text-decoration: underline;
  }

  &:active, &:focus {
    color: darken($color, 20);
    outline: none;
  }
}

@mixin normal-list {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: .5em;
}


body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

   @include media($large-screen) {
      font-size: $base-font-size * 1.2;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include display-font-normal;
  line-height: $header-line-height;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings

  .fa { display: none; }
  @include media($medium-screen) { .fa { display: inline; } }
}

h1 { text-align: center }

h1 {
  @include display-font-boldest;
  color: $brand-primary;
  font-size: $sm-h1-font-size;

  @include media($large-screen) {
    font-size: $h1-font-size;
  }

}

h2 {
  @include display-font-bold;
  font-size: $sm-h2-font-size;

  @include media($large-screen) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $sm-h3-font-size;

  @include media($large-screen) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $sm-h4-font-size;

  @include media($large-screen) {
    font-size: $h4-font-size;
  }
}

h5 {
  font-size: $sm-h5-font-size;

  @include media($large-screen) {
    font-size: $h5-font-size;
  }
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 ($base-spacing / 2);
}

a {
  @include transition(color 0.1s linear);
  @include colored-link($base-link-color);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

b {
  font-weight: 900;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
  font-style: italic;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

.callout-primary, .callout-accent, .callout {
  font-weight: bold;
  font-size: 1.2em;
}
.callout-primary { color: $brand-primary; }
.callout-accent { color: $brand-accent; }


.details {
  color: $dark-gray;
  font-weight: normal;
}

