// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: "proxima-nova-extra-condensed";

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 4;
$h2-font-size: $base-font-size * 2.5;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$sm-h1-font-size: $base-font-size * 2.25;
$sm-h2-font-size: $base-font-size * 2;
$sm-h3-font-size: $base-font-size * 1.75;
$sm-h4-font-size: $base-font-size * 1.5;
$sm-h5-font-size: $base-font-size * 1.25;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;


//Brand colors
$navy: #172751;
$coral: #EB6851;
$mint: #C5E8D3;
$gold: #D5A96C;
$blush: #F1D8D3;

$brand-primary: $coral;
$brand-primary-dark: $navy;
$brand-secondary: $mint;
$brand-accent: $blush;
$brand-accent-dark: $gold;

// Colors
$dark-gray: #2E2F3A;
$medium-gray: #71758A;
$light-gray: #BBBDC7;

$white: lighten($blush, 10);

$light-primary: lighten($coral, 10);
$light-secondary:lighten($mint, 10);
$light-accent: lighten($gold, 10);

$light-red: $light-primary;
$light-yellow: $light-accent;
$light-green: $light-secondary;
$light-blue: lighten($navy, 20);

// Background Color
$base-background-color: $blush;

// Font Colors
$base-font-color: $navy;
$base-accent-color: $brand-accent;

// Link Colors
$base-link-color: $brand-primary;
$hover-link-color:  $brand-primary;
$base-button-color: $brand-primary-dark;
$hover-button-color: $light-blue;

// Flash Colors
$alert-color: $mint;
$error-color: $coral;
$notice-color: $gold;
$success-color: $navy;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$section-border: 3px solid $brand-primary;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
