---
title: About Write/Speak/Code
alias: about/organizers.html
page_class: 'about organizers'
---

%h1 Who We Are

%p
  The organizers of Write/Speak/Code are experts in their technology as well as 
  speaking, open source, and thought leadership. We are entrepreneurs, start-up 
  mavens, corporate leaders, and teachers. We represent a variety of languages 
  and are active both in our respective communities and the broader women in 
  tech community.


-#%p.organizers
  -#- people = data.people.select { |k, v| v.pages.include?('organizers') }.sort_by { |k, v| v.type + v.name }
  -#= people.map { |k, v| "<a href='##{k}'>#{v.name}</a>" }.join("<span class='fa fa-star-o'></span>")

= partial 'people_list', locals: { filter: 'organizers', sort_include_weight: true }
