---
title: Yes, Virginia, You Are an Expert
subtitle: Write Day &mdash; a first look from the trenches
date: 2013-07-15 22:10 UTC
social: true
alias: blog/2013/07/15/write-day-first-look.html
author: Alli Treman
author_url: http://www.allirense.com/
excerpt: I can’t say how relieved I was that The OpEd Project
  leaders didn’t give us a blank page and ask us to free write. Before we’d even written more than five sentences we were armed with techniques for considering topics and opinions to present to the world. We see experts every day on NPR, writing books, and speaking at conferences, and Chloe and Martha gave us the tools and confidence to think of ourselves as experts, too.

tags: write, 2013, conference
---

= partial 'blog/blog_header', locals: { article: current_page }

:markdown
  I can’t say how relieved I was that [The OpEd Project](http://www.theopedproject.org/) 
  leaders [Chloe Angyal](http://chloesangyal.com/) and [Martha Southgate](http://www.marthasouthgate.com/) didn’t give us a blank page and ask us to free write. Before we’d even written more than five sentences we were armed with techniques for considering topics and opinions to present to the world. We see experts every day on NPR, writing books, and speaking at conferences, and Chloe and Martha gave us the tools and confidence to think of ourselves as experts, too.

  Would you call yourself an expert? This might not be a term you feel comfortable using, but it’s an important one. It’s people who call themselves experts who are published and interviewed in television and radio. During the “Write” day of the conference, The OpEd Project leaders asked us all to call ourselves an expert in something and explain why. The “why” is essential: it lends credibility and provides evidence. 

  <div class="callout pull-right">
  <i class="fa fa-quote-left fa-2x pull-left">
  </i>
  <p>Would you call yourself an expert?
  </p>
  </div>

  Our group contained a plethora of experts on various subjects, such as:

  - Psychology of playing in a bar pool league
  - Computer security
  - European strategy games
  - Planning and executing stunt weddings
  - Evacuating hurricanes
  - Getting people to contribute to Drupal software

  Using the term “expert” to define ourselves was unfamiliar territory for many of us. The word carries a lot of weight. Chloe and Martha defined expert as “the go to person in the room.” The word “resource” could be defined the same way. “Resource” might seem like a more familiar and comfortable title, particularly for women, due to how we are socialized to defer to others. After practicing labeling ourselves as experts out loud, I think many of us will be more comfortable calling ourselves experts in the future.

  Part of being an expert is understanding how your areas of expertise fit into the bigger picture. We often pigeonhole ourselves into one topic, but we learned strategies to broaden our reach. Each woman-written op-ed piece is a drop in the bucket of the OpEd Project, and increases the variety of voices in the conversations that shape our world.

  As experts, when should we share our knowledge? The simple answer is this: share your expert knowledge when the value of your knowledge could be worth something to others. If you focus on others, the fears you may have regarding yourself, like fears of embarrassment or responses from internet trolls, will fade into the background. Ask yourself: How can I serve others with my knowledge and expertise? When you have an answer, you have something to share.

  <div class="takeaway">
  <i class="fa fa-bookmark-o fa-2x pull-left">
  </i>
  <p>Ask yourself: How can I serve others with my knowledge and expertise?
  <br /> 
  When you have an answer, you have something to share.</p>
  </div>


