---
title: "Why we offer childcare"
date: 2015-03-02 01:00 CST
social: true
author: Rebecca Miller-Webster
author_url: http://rebeccamiller-webster.com
tags: conference, 2015, childcare, moms
excerpt: At Write/Speak/Code we know that if we really want to empower existing women engineers, we need to acknowledge the reality of our lives.  The fact is that the time when women have the greatest opportunity for visibility and leadership, they are also most likely to be starting a family.  Women (and marginalized groups in general) are more likely to be caregivers — for children or other adult family members.  Ignoring these facts would directly contradict the mission of Write/Speak/Code -- we cannot increase the visibility and leadership of woman software developers without accomodating the needs of mothers and caregivers.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }

:markdown
  Whenever I meet any of my mom’s old co-workers, I have a funny experience.  Their eyes light up and they get a gigantic smile on their face.

  <blockquote>I remember you when you were a baby!</blockquote>

  When my mom, a research scientist who got her Ph.D. in 1975, got pregnant, no 
  one knew what to do about it — there was no maternity leave policy, because 
  they’d never had a woman who got pregnant and wanted to come back.

  My mom used to carry me around her lab as an infant while preparing here 
  [assays](http://en.wikipedia.org/wiki/Assay).  She set up a crib in her office.  
  In many ways, my mom was lucky — the nature of her research allowed her to have 
  me around when I was really young.  That said, I was in infant daycare at 6 
  months old. In fact, I recently had dinner with another kid in that infant daycare whose mom was a professor. 
  We were reminiscing about childhood — about her calling me “Ca” because she 
  couldn’t say my name and about the tiny bread her mom used to make grilled cheese 
  sandwiches out of. <small>(For the record, we are well-adjusted, socially adept, successful adults)</small>

  When we had school off for national holidays, especially the less common ones 
  — Columbus Day, Martin Luther King Day, [Casmir Pulaski Day](http://en.wikipedia.org/wiki/Casimir_Pulaski_Day), 
  etc — my sister and I often spent the day at one of my parents workplaces. (I know you are 
  jealous that you didn’t get Casmir Pulaski Day off!)  I have fond memories of 
  hospital cafeterias from spending time at my Dad’s work. While my husband was 
  in the hospital recently, I discovered these latent memories and an instinctual 
  aptitude in navigating hospital hallways with their colored stripes and winding ways.

  I still remember one time when my friend Kadima came to work with me and my mom, because her single, 
  police officer dad had to work.  We had some good times doing Mariah Carey 
  impressions in the med school classrooms.

= image_tag '/images/blog/1811647287_8cc3d2a44b_o.jpg'
%small Me and my sister sometime in grade school.

:markdown
  Later on, when my grandmother, who had Parkinson's disease for 30 years, 
  needed more care, the family moved her near us.  It was a wonderful and upsetting
  experience to spend a lot of time with my grandmother at the end of her life.
  She was an amazing women who, after being told by her father that girls couldn't
  be lawyers, got her Ph.D. at 55.

= image_tag '/images/blog/168685_656664791362_5952478_n.jpg'
%small My grandmother with my mom and aunt!

:markdown
  At Write/Speak/Code we know that if we really want to empower existing women 
  engineers, we need to <strong>acknowledge the reality of our lives</strong>.  The 
  fact is that the time when women have the greatest opportunity for visibility and leadership, 
  they are also most likely to be starting a family.  Women (and marginalized 
  groups in general) are more likely to be caregivers — for children or other 
  adult family members.  Ignoring these facts would directly contradict 
  the mission of Write/Speak/Code -- we cannot increase the visibility and leadership 
  of woman software developers without <strong>accomodating the needs of mothers and 
  caregivers</strong>.

  While we would love to have more resources (people and financial) to support 
  mothers and women caregivers, we are doing what we can now. That is:

  * offering [childcare](/conference/childcare) at all our [workshops](/events) and [conferences](/conferences)
  * offering a [scholarship for mothers and caregivers](/conference/scholarships#mothers)
  to attend the Write/Speak/Code annual conference.

  Thank you to [thoughtbot](http://www.thoughtbot.com) for sponsoring childcare 
  at the [2015 Write/Speak/Code International Conference](/conference)!

= partial :arrow_button, 
  locals: { link: '/conference/scholarships#mothers', text: 'Mother &amp; Caregiver Scholarship', classes: %w(primary) }



