---
title: "Ramadan: 2016 Conference Accommodations"
date: 2016-04-13
social: true
author: Dalal Alrayes
tags:
  - conference
  - 2016
excerpt: We are making accomodations for conference attendees who are observing Ramadan this year. By making it an accessible, welcoming environment at the conference, we can focus on empowering each other and on our mission to increase the visibility and leadership of woman software developers.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }

:markdown

  On the first day of the [Write/Speak/Code conference](http://2016.writespeakcode.com) this year, sunset will be at 8:28pm


= image_tag '/images/blog/chicagosunset.jpg', class: 'post-img'


:markdown

  You might be thinking, that’s nice to know, but so what? Well, it happens to be that the 2016 conference falls in the middle of the month of Ramadan, the ninth month in the Islamic calendar, where Muslims around the world fast (no food or water) from dawn till sunset.  The Islamic calendar is lunar, so Ramadan falls on different months of the standard solar calendar over the years.

  I have been fasting Ramadan for as long as I remember.  It’s a month which allows me to reflect and empathize with people who live on less than $2 a day, a practice in gratitude.  However, the last 3 years have been the most challenging, where Ramadan has coincided with the very long days of summer.  Living in Chicago, it is also taxing to be surrounded by food and people eating throughout day - think about how many meetings and events you attend before 8:28pm that involve food. Yep, it definitely doesn’t make it easier.

  As a co-organizer of [Write/Speak/Code](http://2016.writespeakcode.com), I am proud to be part of an organization that is proactive at accommodating members’ needs. From the start, Write/Speak/Code has made it a [priority to offer childcare](http://www.writespeakcode.com/blog/2015/03/02/why-childcare.html), as well as accommodating the needs of mothers and caregivers. This year, with the conference coinciding with Ramadan, we will be providing the following for attendees observing Ramadan:



  * Meal/voucher for halal dinner
  * Private prayer room
  * Break room away from food

  By making it an accessible, welcoming environment at the conference, we can focus on empowering each other and on our mission to increase the visibility and leadership of woman software developers.

  Attending the conference & observing Ramadan? Is there something we missed? Please let us know by emailing [info@writespeakcode.com](mailto:info@writespeakcode.com).

%h2
  %a{ href: 'http://2016.writespeakcode.com' }
    Write/Speak/Code 2016 Conference for women coders

%h3
  June 15-18, 2016
%p
  Wed, Thurs, &amp; Fri 9:00am-6:30pm
  %br/
  Sat 11:00am-4:00pm

%h3
  %small The Chicago School of Professional Psychology
  %br/
  325 N Wells St, Chicago, IL 60654

%p.buy
  %a.button.primary{ href: "http://2016.writespeakcode.com/tickets.html" }
    Buy your tickets now!

  %a.button.info{ href: "http://2016.writespeakcode.com/pages/schedule" }
    Schedule

%p.buy
  %br/
  %br/
  %strong Accessibility, Inclusion, &amp; Intersectionality
  %br/
  = link_to 'Free childcare', 'http://2016.writespeakcode.com/childcare.html'
  %br/
  Mothers/lactation room
  %br/
  Wheelchair accessible venue
  %br/
  CART transcription
  %br/
  = link_to 'Ramadan accomodations', 'http://www.writespeakcode.com/blog/2016/04/13/ramadan.html'
