---
title: "Volunteer and Attend for Free!"
date: 2016-05-01
social: true
author: Jeca Armstrong
tags:
  - conference
  - 2016
excerpt: Volunteering is a great opportunity to not only attend the conference at a more affordable price ($0), but to connect with the community, learn new things, and/or get practice communicating - important for landing a first dev job.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }


:markdown

  <div style="display: table; margin-left: auto; margin-right: auto">
    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">1 year ago I flew to New York for <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> which quite literally changed my life! Wish I could go this year! <a href="https://t.co/7hAxXPtLZ6">pic.twitter.com/7hAxXPtLZ6</a></p>&mdash; danielle vass (@de_velopment) <a href="https://twitter.com/de_velopment/status/710801326645575680">March 18, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">This was an amazing event last year. You should go! <a href="https://t.co/q03oQEoigT">https://t.co/q03oQEoigT</a></p>&mdash; Coraline Ada Ehmke (@CoralineAda) <a href="https://twitter.com/CoralineAda/status/707996999321329665">March 10, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a> changed my life. CFP deadline is 4/9 Thanks to <a href="https://twitter.com/corey_latislaw">@corey_latislaw</a> for expanding my world <a href="https://t.co/286w4lyhrM">pic.twitter.com/286w4lyhrM</a></p>&mdash; Angie ≅ 앤지 (@AngieHilem) <a href="https://twitter.com/AngieHilem/status/707670895087763456">March 9, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Grab them while you can! I went to it last year, and it&#39;s by far one of the best conferences I&#39;ve ever gone to. <a href="https://t.co/RAS2PLLRxP">https://t.co/RAS2PLLRxP</a></p>&mdash; Melissa Xie (@mxie) <a href="https://twitter.com/mxie/status/709787299333148677">March 15, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Apply for scholarships to <a href="https://twitter.com/WriteSpeakCode">@WriteSpeakCode</a>! <a href="https://t.co/pFZAaHNXkw">https://t.co/pFZAaHNXkw</a> Beyond a doubt the *BEST* conf for women coders! And I&#39;m speaking there!</p>&mdash; Alex Qin (@alexqin) <a href="https://twitter.com/alexqin/status/726125649136594946">April 29, 2016</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <p style="text-align: center;">* * *</p>

  A year ago March, I volunteered/attended the 2015 Write/Speak/Code conference in New York City.

  Two days after the conference ended, I had a phone interview with my now-CEO. I was able to communicate confidently and candidly about who I am, and I landed my first dev job.

  <p style="text-align: center;">* * *</p>

  The talks, of course, were inspiring. The exercises were enlightening. But the thing that really, profoundly hit home, was how amazing it was to talk to the other attendees.

  The people I spoke with understood me. They could relate to many of my experiences and empathized with the rest.

  A more tangible thing that I got out of those three days, though, was the opportunity to talk to people about my experience, and being coaxed into reframing it from “utter lack of experience” (and therefore lack of competence, I felt at the time), to an opportunity to demonstrate my capacity for growth.

  The whole point of telling you this, of course, is to convince you to come experience the four most inspiring days you’ve ever had.

  There are regular-price tickets, and there are scholarships. But I hope that some of you will consider volunteering.

  I found it a great opportunity as a newb-to-the-industry (I now co-organize the NYC chapter of Write/Speak/Code), and it’s a great way to attend for free. Not to mention the fact that it's a good time, and you'll meet some awesome people and leave with a sense of your own competence and how to share it and help others.

  I’ll be there. I hope to see you there too!

= partial :arrow_button,
  locals: { link: 'https://docs.google.com/forms/d/1obRXfww95fe7IEYez5_6mTQ_APNWJJX2E7BU5oYGEkI/viewform', text: 'Volunteer HERE', classes: %w(primary) }
