---
title: Yes - we want to hear from you!
date: 2016-03-21
social: true
author: Lorena Mesa
tags:
  - conference
  - 2016
excerpt: We’re excited to announce that the Write/Speak/Code CFP is now open through April 9th 2016! This year our CFP is for keynote speakers who will be opening and closing each day of the conference.
---


= partial 'blog/blog_header', locals: { data: current_page.data, article: current_page }

:markdown

  We’re excited to announce that the Write/Speak/Code CFP is now open through April 9th 2016!
  This year our CFP is for keynote speakers who will be opening and closing each day
  of the conference. All speakers will receive a ticket to the conference and speaker housing.
  Travel assistance is available by request.

= partial :arrow_button,
  locals: { link: 'http://2016.writespeakcode.com/cfp', text: 'Submit a Proposal', classes: %w(primary) }


:markdown
  As a conference for women software engineers our attendees are looking for stories
  that can help them find their voices and expertise as thought leaders. Our conference
  gives attendees hands-on experience to workshop their ideas into tangible talks,
  blog pieces, and open source code contributions. Your talk should reflect how you
  came to find your own expertise, be it in writing, speaking, or open source, and
  what your journey has been. We are passionate about stories that speak to the diversity
  of women in tech! After all, our community includes women coders from multiple programming
  languages, ages, geographic origins, and more.

  In order to help you get started we’ve compiled a list of a few resources to
  help you get started:

  * Review the [Write/Speak/Code CFP](http://2016.writespeakcode.com/cfp)
  * Watch the [Write/Speak/Code Q&A](https://www.youtube.com/watch?v=UetOLQj9r8o) with 2016 conference chair Rachel and I
  * [Try reading a few O’Reilly proposals](http://www.oreilly.com/conferences/sample_proposals.html)!
  * Get help from [veteran speakers](http://helpmeabstract.com/)!

  Still stuck or want more assistance? Do not hesitate to reach out to the
  Speaker Outreach team at [2016speakers@writespeakcode.com](mailto:2016speakers@writespeakcode.com).

  If you think you would like to participate but perhaps not as a keynote speaker
  we have other opportunities including being a [panelist or a speaking mentor](http://2016.writespeakcode.com/nominate).
