$callout-bg: $brand-accent-dark;

.blog {
  h1 { color: $brand-primary-dark; }

  #main {
    background-color: $brand-primary-dark;

    a:not(.button) {
      @include colored-link($brand-primary);
    }

    img {
      @include square-border;
      display: block;
      width: 520px;
      margin: 1em auto 0 auto;
      border: 3px solid $brand-accent;

      & + small {
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-bottom: 1em;
      }
    }
  }

  &.blog_index {
    #main {
      a:not(.button) { @include colored-link($brand-accent-dark); }

      h2 a {
        @include colored-link($brand-primary-dark);
      }

      .article {
        border-bottom: $section-border;
        margin-bottom: 2em;

        &:nth-child(odd) {
          h2 a { @include colored-link($brand-accent); }
        }

        &:first-child {
          background-color: lighten($brand-primary, 35);
          padding: 1em;
          h2 a { @include colored-link($brand-primary); }
        }

        p:last-child {
          margin-top: 1em;
        }
      }
    }
  }

  aside {
    border-top: $section-border;
    padding-top: 1em;
    margin-top: 5em;

    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);

    section {
      @include flex-basis(5em);
      @include flex-grow(1);
      @include transition (all 0.2s ease-in-out);

      &.recent {
        @include flex-grow(3);
      }
    }
  }

  .callout, .takeaway {
    @include square-border;
    @include display-font-light;

    background-color: $callout-bg;
    padding: .5em;
    color: $white;

    font-size: $h2-font-size;
    line-height: 1em;

    p {
      margin: 0 0 0 1.5em;
    }

    .fa { color: $light-green; }
  }

  .takeaway {
    margin-bottom: 2em;
  }

  #content {
    header {
      text-align: center;

      h4 {
        border-bottom: $section-border;
        padding-bottom: 1em;
        margin-bottom: 2em;
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1em;
      margin: -0.5em 1em 1em 1em;
    }

    .tweets_blog {
      border: none;
      text-align: center;
      ul { list-style-type: none; }

        img {
          border-width: 1px;
        }

      .tweets {
        border-top: $section-border;
        border-top-width: 2px;
        padding-top: 2em;

        &:first-of-type {
          border-top: none;
          padding-top: .5em;
        }
      }
    }
  }
}
