#main.conference, #main.sponsors {
  background-color: $brand-accent-dark;
}

.conference_layout {

  .childcare-callout {
    text-transform: uppercase;
    background-color: $dark-gray;
  }

  .hero {
    $hero-bottom: 52px;
    padding-bottom: $hero-bottom;
    @include media($large-screen) { padding-bottom: $hero-bottom - 10; }

    .hero-inner .hero-copy h4.childcare-callout a {
      color: $white;
    }
  }

  .day_summaries {
    background-color: $light-yellow;
    padding-bottom: .2em;
    margin: 1em auto;
  }

  #content {
    margin-top: -100px;
    text-align: center;

    h1 {
      color: $brand-accent;
      .fa { color: $light-accent; }
    }

    h3 { margin: 1em auto; }

    h2.change-world {
      margin-bottom: 1em;

      span {
        @include display-font('thin');
      }

      .fa { color: $brand-primary; }

      @include media($large-screen) {
        font-size: $h1-font-size ;
      }
    }

    h4 {
      .fa {
        color: $notice-color;
        padding: 0 .5em;
      }
    }

    .actions {
      .fa-li {
        position: relative;
        color: $notice-color;
        left: 0;
      }

      @media screen and (max-width: $medium-screen) {
        .fa-li { display: none; }
        text-align: left;
        list-style-type: disc;
        margin-top: .5em;
      }
    }
  }

  .breadcrumbs {
    &.write li.write, &.speak li.speak, &.code li.code {
      a { @include colored-link($brand-primary) }
    }
  }

  &.sub_page {
    .hero {
      .details, .header-break { display: none; }

      font-size: .8em;

      $hero-bottom: 62px;
      padding-bottom: $hero-bottom;
      @include media($large-screen) { padding-bottom: $hero-bottom - 10; }

      h1 {
        @include display-font-bold;
        @include media($large-screen) { font-size: $sm-h1-font-size; }
      }

      h2 {
        @include display-font-normal;
        @include media($large-screen) { font-size: $sm-h2-font-size; }
      }
    }

    #content {
      h2 {
        margin: 0 auto 1em auto;

        .fa {
          padding: 0 .5em;
        }
      }

      .themes {
        color: $brand-primary;
        margin-bottom: 1em;
      }

      .credits {
        margin-top: 1em;
      }
    }

  }

  .developer-definition {
    @include square-border;
    margin-top: 3em;
    background-color: $alert-color;
    padding: .5em;
    border: 1px solid $light-gray;
  }

  a.small {
    font-size: .8em;
    color: $white;

    &, &:hover, &:linked, &:visited { color: $white; }
  }
}

#main.scholarships {
  #content {
    .breadcrumbs li a { @include colored-link($brand-primary) }
    .scholarship {
      margin: 3em 1em 1em;
      text-align: left;

      h2 {
        margin-bottom: .5em;
      }
    }

    .closed {
      margin-top: 5em;
      border-top: $section-border;
    }
  }
}
