.events {
  .workshop {
    ul {
      @include normal-list;
    }

    padding-bottom: 1em;

    h5 {
      padding-bottom: .5em;
    }
  }

  .workshops {
    &.upcoming-workshops, &.past-workshops {
      li {
        margin-bottom: .5em;
        padding: .5em;
        border-left: 10px solid $brand-primary;

        &:nth-child(even) {
          border-left-color: $light-red;
        }
      }
    }

    .callout-primary a {
      @include colored-link($brand-primary);
    }
  }

  .sponsorship {
    text-align: center;

    img {
      width: em(180);
      max-width: 100%;
      height: 100px;
    }

    @include media($medium-screen-up) {
      .enova, .thoughbot, .braintree {
        @include span-columns(4 of 12);

        img {
          width: em(130);
        }
      }
    }


    @include media($small-screen-up) {
      .thoughtbot img {
        width: em(170);
      }
    }
  }
}