@mixin square-icon($icon_unit: 50px, $icon_color: white, $icon_bg: $dark-gray) {
  @include square-border;

  background-color: $icon_bg;
  width: $icon_unit;
  height: $icon_unit;

  text-align: center;
  color: $icon_color;
  font-size: $icon_unit * .7;

  padding: ($icon_unit*.15) ($icon_unit*.06);

  /*@media only screen and (min-width: 768px) {*/
    /*position: absolute;*/

    /*& + div, & + p, & + ul {*/
      /*margin-left: $icon_unit + 30px;*/
      /*min-height: $icon_unit;*/
      /*padding-top: 10px;*/
    /*}*/
  /*}*/

  /*@media only screen and (max-width: 768px) {*/
    /*margin: 0 auto 20px auto;*/
  /*}*/
}



@mixin round-icon($icon_unit: 50px, $icon_color: white, $icon_bg: $dark-gray) {
  @include square-icon($icon_unit, $icon_color, $icon_bg);
  @include round-border;
}

@mixin code-icon {
  @extend .fa;
  @extend .fa-code;
}

.code-icon {
  @include code-icon;
}

@mixin speak-icon {
  @extend .fa;
  @extend .fa-microphone;
}

.speak-icon {
  @include speak-icon;
}

@mixin write-icon {
  @extend .fa;
  @extend .fa-pencil;
}

.write-icon {
  @include write-icon;
}


$day_icon_unit: 100px;
$day_icon_color: white;
$day_icon_bg: $brand-primary;

.day_icon {
  margin: 0 auto;
  width: $day_icon_unit;

  i {
    @include round-icon($day_icon_unit, $day_icon_color, $day_icon_bg);
  }
}

.day_icons {
  margin: 0 auto;
  text-align: center;
  display: block;
  height: $day_icon_unit * 1.1;
}

li.day_icon {
  margin: $day_icon_unit * 1.1;
  display: inline;
}

h1 {
  .fa { color: $light-red; }
}

h1.icon {
  i {
    @include square-icon($day_icon_unit/2, $day_icon_color, $day_icon_bg);

    @include media($large-screen) {
      @include square-icon($day_icon_unit, $day_icon_color, $day_icon_bg);
    }
  }
}
