.index {
  .navigation {
    background-color: transparent;
    text-align: center;
    border: 0;

    position: absolute;
    top: 0;

    .logo, .navigation-tools { display: none; }

    nav {
      float: none;
    }
  }

  #main {
    padding: 0;

    h1 { color: $white; }
  }

  .banner {
    margin: 0;
    position: relative;
    min-height: 600px;
    color: $white;
    text-align: center;

    .wrap {
      @include outer-container;

      overflow: hidden;
      text-align: center;

      height: auto;

      @include media($large-screen) {
        height: 100%;
      }
    }

    .copy-wrap {
      text-align: center;
      color: $white;
      a:not(.button) { @include colored-link($white); }

      h1 {
        font-size: 3em;
      }
    }

    border-bottom: 10px solid $brand-primary-dark;
  }

  #banner {
    background-image: url(image_path('2013-conf/wsc-sign.jpg'));
    background-repeat: no-repeat;
    background-size: cover;


    .overlay {
      @include position(absolute, 0px 0px 0px 0px);
      display: block;
      background-color: transparentize($brand-primary-dark, .4);
    }

    .copy-wrap {
      @include span-columns(12);

      position: relative;
      top: auto;
      margin-top: 5em;

      @include media($large-screen) {
        @include span-columns(7);

        margin-top: 8em;
        top: 50%;
      }

      h1, h2 {
        text-shadow: 1px 1px 2px $dark-gray;
      }

      p {
        font-size: 1.3em;
        padding-top: 2em;
        text-shadow: 1px 1px 1px $dark-gray;
      }
    }

     .fa-caret-down {
       @include media($large-screen) {
        @include span-columns(7);
        /*bottom: -25px;*/
       }
     }

  }

  #banner2 {
    background-color: $white;

    .image-wrap {
      max-width: 100%;
      max-height: 590px;
      margin: 0;
      padding: 0;

      @include media($large-screen) {
        float: left;
        max-width: 31%;
      }

      img {
        max-height: 590px;
      }
    }

    .copy-wrap {
      @include span-columns(12);
      color: $base-font-color;
      padding: 1em;
      height: auto;

      a:not(.button) { 
        @include colored-link($brand-primary); 
      }

      h1 { font-size: $sm-h1-font-size; }
      h2 { font-size: $sm-h2-font-size; }
      h2, h3 { text-align: center; }

      p, h3 {
        padding: .5em 0 0 0;
      }

      @include media($large-screen) {
        .header-break { display: block; }
      }
    }
  }
  
    .newsletter-signup {
      #mce-EMAIL {
        max-width: 290px;
      margin: 10px auto;
      }
    }
}
