html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.navigation {
}

#main {
  background-color: $light-red;
}

#content {
 @include outer-container;

 padding: 3%;
 background-color: $white;
}

.footer {
}
