@mixin logo {
  @include display-font('thin');
  font-size: 4em;

  margin-top: -.25em;
  padding: 0;

  &, &:hover, &:visited, a, a:hover, a:visited  {
    color: $base-font-color;

    span {
      color: $brand-primary;
    }
  }
}

.logo {
  @include logo;
}

.logo-inverted {
  @include logo;
  color: $white;
}
