$person_img_width: 100px;
$company_img_width: 150px;
$img_left_offset: 30px;

ul.people_list {
  list-style-type: none;
  margin-top: 20px;
  text-align: center;

  @include media($large-screen) { text-align: left; }

  img {
    width: $person_img_width;
    height: $person_img_width;
  }

  .social {
    font-size: .8em;
    margin-top: -10px;

    li { display: inline-block; }
  }

  > li {
    clear: both;
    margin: 1em;
    padding: 1em;

    min-height: $person_img_width * 1.7;
    height: auto;

    .info {
      text-align: center;
      margin: 0 auto 20px auto;

      @include media($large-screen) {
        float: left;
        text-align: left;
        margin: 0;
      }

      & + .talk {
        @include media($large-screen) {
          margin-left: $company_img_width + $img_left_offset;
          min-height: $person_img_width + 60px;
        }
      }

    }

    p, .talk {
      padding-right: 20px;

      .name {
        @include display-font;

        color: $brand-primary;
        &a { @include colored-link($brand-primary); }

        font-weight: bold;
      }
    }

    p {
      .name {
        font-size: $sm-h4-font-size;
        line-height: 1em;
      }
    }

    .social {
      margin-top: -10px;
      text-align: center;
      font-size: .6em;

      li {
        display: inline-block;
        padding: 0 .1em;
      }

      a { font-size: $sm-h1-font-size; }
    }

    .talk {
      font-style: italic;
      font-weight: bold;
      margin-bottom: .5em;

      .name {
        font-size: $sm-h2-font-size;
        @include media($large-screen) { font-size: $h2-font-size; }
      }

      ul {
        li {
          display: inline-block;
          font-size: $sm-h3-font-size;

          &:first-child .fa { display: none; }
          .fa {
            color: $success-color;
            font-size: .8em;
          }

          a {
            @include display-font-light;
            @include colored-link($brand-accent);

            &:hover { color: $brand-accent-dark; }
          }
        }
      }
    }

    &.company {
      img {
        width: $company_img_width;
      }
    }

    &.person {
      .info {
        @include media($large-screen) {
          margin-left: $img_left_offset;
          margin-right: $img_left_offset;
        }
      }
    }

    &.talk {
      .talk {
        min-height: 135px;
      }

      .bio {
        margin-left: 0;
      }
    }
  }
}

.person, .company {
  border: $section-border;
}

.person {
  a.image {
    @include colored-link($brand-accent);
  }

  img {
    @include round-border;
    border: 4px solid $brand-accent;
  }
}
