.schedule {
  .events {
    text-align: left;
  }

  .day_schedule {
    li a {
      @include colored-link($brand-primary);
    }
  }

  $odd-color: $brand-primary;
  $even-color: $brand-primary-dark;
  $main-lighten: 40;
  $callout-lighten: 30;
  .event {
    border-left: 10px solid $odd-color;
    background-color: lighten($odd-color, $main-lighten);
    padding: .5em;
    margin: 1em 0;

    &:nth-child(even) {
      border-left-color: $even-color;
    }

    &.talk, &.panel {
      border-left-color: $brand-accent;
      background-color: lighten($brand-accent, 55);

      &:nth-child(even) {
        border-left-color: $brand-accent-dark;
      }
    }

    h5 {
      margin-top: 0;
      margin-bottom: .5em;
    }
  }

  #content {
    .schedules {
      h2, h3 {
        margin-bottom: 0;
        color: $brand-accent;
      }

      h3 {
        margin-top: 0;
      }

      /*h2 {*/
        /*border-top: $section-border;*/
        /*padding-top: 1em;*/
        /*&:first-of-type {*/
          /*border: none;*/
          /*margin-top: 1em;*/
        /*}*/
      /*}*/

      header {
        margin-top: 3em;
        padding-bottom: 1em;
        border: $section-border;
      }

      .more_info {
        @include colored-link($dark-gray);
      }

      .actions {
        float: left;
        color: $light-gray;
      }

      .details {
        margin-left: 50px;
      }
    }
  }
}

.dots {
  margin-left: 60px;
  margin-top: 20px;
  list-style-type: none;
}

.dots li {
  padding-bottom: 30px;
  display: block;
  border-left: 2px solid #D84455;
}

.dots li:last-child {
  border-left: 2px solid #faf9f9;
}

.fa-circle:before {
  margin-left: -9px;
  color: #D84455;
  font-size: 19px;
  line-height: 0px;
}

.fa-circle p {
  margin-top: -15px;
  margin-bottom: 20px;
  padding: 0px 25px;
  color: #D84455;
}

.fa-circle p a {
  color: #D84455;
}

.fa-circle p a:hover {
  color: #D84455;
  opacity: .5;
}

.fa-circle p a:visited {
  color: #D84455;
}

.schedule_container {
  max-width: 600px;
  margin: 25px auto;
  border: solid 1px lightgrey;
  border-radius: 4px;
}

.schedule_container h2 {
  text-align: center;
  padding: 25px;
  color: #D84455;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 40px;
}

.schedule_container h3 {
  padding: 20px 30px;
  color: #D84455;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
