.sponsors {

  .conference_layout #content {
    h1 {
      &:not(.recruit) { color: $dark-gray; }
    }
  }

  .developer-definition, .each_day { display: none; }


  .images {
    img {
      border: 2px solid $brand-primary;
      width: 35%;
      margin: 2px 10px;
    }
  }
}

.conference.sponsors {
  #content {
    text-align: left;

    h2 {
      margin: 1em auto .25em auto;
    }
  }

  $max-img-height: 100px;
  .sponsors {
    .sponsor {
      border: $section-border;
      border-color: $light-accent;
      min-height: $max-img-height + 25px;
      text-align: center;

      padding: .5em;
      margin-bottom: 2em;

      img {
        @include square-border;
        border: 2px solid $brand-accent;
        height: $max-img-height;
        background-color: white;
      }
    }

    &.platinum {
      .sponsor {
        border-color: $brand-primary;
        background-color: $light-primary;

        img {
          height: 200px;
          border-color: $brand-primary;
        }
      }
    }

    &.gold {
      .sponsor {
        border-color: $brand-secondary;
        background-color: $light-secondary;

        img { border-color: $brand-secondary; }
      }
    }

    &:not(.gold):not(.platinum):not(.silver) {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(space-between);

      .sponsor {
        @include flex-basis(15em);
        @include flex-grow(1);
        @include transition (all 0.2s ease-in-out);

        text-align: center;
        height: auto;
        margin: 1em;

        p { display: none; }
      }
    }
  }
}
