---
layout: default
---

  <section class="page-intro">
    <!-- ## PRIMARY LOGO ## -->
    <header class="row center-xs">
      <div class="col-xs-12">
        <img src="{{ "/assets/img/WSClogos_stacked_coral-blush-gold_screen.png" | prepend: site.baseurl }}" width="200" alt="Write Speak Code logo" class="wsc-logo"/>
      </div>
    </header>

    <!-- ## TITLE & SUBHEAD ## -->
    <div id="slideContent">
      <!-- ## SLIDE TEXT ## -->
      <div id="qcSlideText">
        <h1 class="wsc-logo-text">Write <span class="coral">/</span> Speak <span class="coral">/</span> Code<br>
        <span class="wsc-conf-text"></span></h1>
        <!-- <h3 class="title-subheader">Aug 23-26 // Portland, OR </h3> -->
        <p class="title-subheader">Write/Speak/Code is on a mission to <b>increase the visibility and leadership of women and non-binary coders</b> through thought leadership, conference speaking, open source contributions, career development, personal growth and self-care.</p>
        <p class="title-subheader">Data scientists, software engineers, eBook publishers, designers, VPs of Engineering &mdash;and more!&mdash; have taken their career to the next level at our <b>conferences, events, and local chapters</b> across the US.</p>
     </div>
    </div>
  </section>

  {% include home_nav.html %}

  {{ content }}

  {% include sponsors.html %}

  {% include code_of_conduct.html %}

  {% include testimonials.html %}

  <script type="application/ld+json">
    [{
      "@context": "http://schema.org",
      "@type": "NGO",
      "name": "WriteSpeakCode",
      "url": "www.writespeakcode.com",
      "email": "info@writespeakcode.com",
      "description": "Write/Speak/Code empowers women and non-binary coders to become thought leaders, conference speakers, and open source contributors, through conferences and events across the US.",
      "logo": "https://2017.writespeakcode.com/assets/img/WSClogos_stacked_coral-blush-gold_screen.png",
      "image": "https://2017.writespeakcode.com/assets/img/WSClogos_stacked_coral-blush-gold_screen.png",
      "events":     [{
        "@type" : "EventSeries",
        "name": "2017 WriteSpeakCode Conference",
        "url": "https://2017.writespeakcode.com",
        "startDate": "2017-08-23",
        "endDate": "2017-08-26",
        "description": "Conference for women and non-binary coders",
        "image": "https://2017.writespeakcode.com/assets/img/WSClogos_stacked_coral-blush-gold_screen.png",
        "location": {
          "@type": "EventVenue",
          "name": "Eliot Center",
          "address": "Portland, OR"
        },"offers": [{
          "@type": "Offer",
          "url": "https://ti.to/write-speak-code/2017-conference/"
        }]
      }]
    }]
  </script>
