/*
EVENTICKA II CUSTOM STYLESHEET
--------------------------

Instructions:

Add your custom styles in this file instead of style.css so it
is easier to update the theme. Simply copy an existing style
from style.css to this file, and modify it to your liking. */

/*
Brand Colors
---------------
coral: #EB6851
navy: #172751
mint #C5E8D3
gold: #D5A96C
blush: #F1D8D3
*/

/*
Breakpoints for Grid
--------------------
XS <= 767px
SM 768-1023px
MD 1024-1199px
LG >=1200px
*/

/* ASSIGN CUSTOM PRIMARY FONT */

#qcPriNav > li > a, .digit, #qcSlideText h1, #qcTabNav li a, .qcTabTitle h1, .qcPageContentTabs > ul li > a, .qcScheduleList > li .time, .qcScheduleList > li h3, .qcScheduleList > li .speakers, .qcScheduleList > li .speakers, #qcAddress h3, #qcVenueHotelsHead, .qcVenueHotels h2, .qcTicketHead h2, .qcTicketAction span, .qcTicketBox h3, .speakers .item-title h3, .speakers .item-desc h3, .abtCountNum, .abtCountTitle, .qcTabTitle #qcAbtHeading, #qcAbtHeadList, #qcFooterLogo h2, #qcFormText h2, .qcTcktRegForm li label, .qcTcktSubmit button {
  font-family: 'Open Sans', sans-serif;
}

/* ASSIGN CUSTOM SECONDARY FONT */

body, #qcSiteNav h4, #qcPriNav ul > li > a, #qcPriNav ul ul > li > a, .dash_title, #qcSlideText p, #qcSlideText #slidenumber, .speakers .item-title p, .speakers .item-desc p, .speakers .item-title .read-more, .speakers .item-desc p.text, .qcFaqHead > div:last-child, #qcFormText p, .qcTcktRegForm li input, .qcTcktRegForm li textarea, .error {
  font-family: 'PT Sans', sans-serif;
}

/*  ASSIGN CUSTOM PRIMARY HIGHLIGHT COLOR */

#qcWidgets, .qcOrderedList.check li:before {
  background-color: #EB6851;
}
#qcHeader {
  border-top: 0;
}

/*  ASSIGN CUSTOM SECONDARY HIGHLIGHT COLOR */

.qcPageContentTabs > ul li.active:before, .qcScheduleList > li.toggle:hover:before, .qcScheduleList > li.toggle.active:before, .qcVenueHotels li:hover .action a, .qcTicketAction:hover, #qcSubscribeWidget input[type=submit]:hover, .qcTcktSubmit button:hover {
  background-color: #EB6851;
}
#qcTabNav li.active a, #qcTabNav li.active a:hover, #qcTabNav li.active a i, .qcPageContentTabs > ul li.active > a,  .qcVenueHotels li:hover h2, .speakers .item:hover .item-title .read-more, .speakers .item-desc h3, .speakers .item-desc p, #qcPriFooter nav li a:hover, .copyrights a:hover, .qcCheckboxText a:hover, .error {
  color: #EB6851;
}
.qcPageContentTabs > ul li.active:after {
  border-top-color: #EB6851;
}
.copyrights a:hover, .qcCheckboxText a:hover {
  border-bottom-color: #EB6851;
}

/*  ASSIGN CUSTOM TERTIARY HIGHLIGHT COLOR */

#qcCountdown, .qcScheduleList > li.toggle:before, .qcTicketAction, #qcSubscribeWidget input[type=submit] {
  background-color: #EB6851;
}
#qcPriNav > li.active > a, #qcPriNav ul > li.active > a {
  color: #EB6851;
}

.qcTabTitle {
  border-color: #172751;
}

/* END THEME CUSTOMIZATION */

/* ---------- GLOBAL CLASSES ---------- */

/* Clears focus color on touch devices*/
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* HIDING ELEMENTS */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hidden-on-xs {
    display: none;
  }
}

/* Styles for all section titles and descriptions */
.qcTabTitle p.qcTabDesc{
  color: #666;
	font-family: "PT Sans", sans-serif;
	margin-bottom: 0;
}

@media only screen and (max-width: 1080px){
  .qcTabTitle > .col-8 {
    display: block;
  }
}

@media only screen and (max-width: 1080px){
	.qcTabTitle p.qcTabDesc {
	    border: none;
	    padding: 20px 0px 0px 0px;
	  }
}


/* UTILITY CLASSES */
.coral {
  color: #EB6851;
}

.blush {
  color: #F1D8D3;
}

.margin-bottom {
  margin-bottom: 32px;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #172751;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 40px;
  }
}

.rounded-corners {
  border-radius: 8px;
}
