/ Begin MailChimp Signup Form
%form.form-inline#mc-embedded-subscribe-form{:action => "http://rebeccamiller-webster.us4.list-manage.com/subscribe/post?u=5659d87448185ddd72045cf1a&id=f195dc3634", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", placeholder: "email address"}/
  %input#mc-embedded-subscribe.button.signup{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
/ End mc_embed_signup
