---
layout: base_layout
---

%section#banner.banner
  .overlay
  .wrap
    .copy-wrap
      %h2
        Visibility and Leadership for
      %h1
        Women Software Developers

      %p
        Write/Speak/Code is on a mission to empower women software developers
        to become thought leaders, conference speakers, and open source contributors. 
        We run conferences and events across the US.
      %div.conference-cta
        %h3
          Early Bird tickets for the 2016 Conference on sale!
        %h3
          =link_to "Register Now", "http://2016.writespeakcode.com/tickets/"

%section#banner2.banner
  .image-wrap
    = image_tag image_path('2013-conf/DSC_9712_1.jpg')
  .wrap
    .copy-wrap
      %h2 Write/Speak/Code<br>International Conference for Women Software Developers<br>June 15 - 18, 2016  Chicago, IL
      %h3.conference-learn-more
        = link_to "Learn More", "http://2016.writespeakcode.com"

      %br.header-break/
      %br.header-break/

      %h4
        Subscribe to our newsletter and stay up to date with all upcoming news on the conference and local events!

      .newsletter-signup
        = partial "mailchimp"

   