---
layout: base_layout
---

%section#banner.banner
  .overlay
  .wrap
    .copy-wrap
      %h2
        Visibility and Leadership for
      %h1
        Women Software Developers

      %p
        Write/Speak/Code is on a mission to empower women software developers
        to become thought leaders, conference speakers, and open source contributors. 
        We run conferences and events across the US.

      %i.fa.fa-chevron-down

%section#banner2.banner
  .image-wrap
    = image_tag image_path('2013-conf/DSC_9712_1.jpg')
  .wrap
    .copy-wrap
      %h1
        Write/Speak/Code Chapters
      %h3
        W/S/C has now expanded with chapters in Chicago, San Francisco and New York dedicated to organizing workshops and events focused on writing, speaking and coding.
      %br.header-break/
      %h2
        =link_to 'Chicago', 'events/chicago'
        %i.fa.fa-star-o
        San Francisco
        %i.fa.fa-star-o
        New York
      %br.header-break/
      %h4
        Subscribe to our newsletter and stay up to date with all upcoming conferences and events.
      .newsletter-signup
        = partial "mailchimp"