%section#banner
  .overlay
  .wrap
    .copy-wrap
      %h2
        Visibily and Leadership for
      %h1
        Women Software Developers

      %p
        Write/Speak/Code is on a mission to empower women software developers
        to become thought leaders, conference speakers, and open source contributors. 
        We run conferences and events across the US.

      %i.fa.fa-chevron-down
