---
layout: base_layout
---

%section#banner.banner
  .overlay
  .wrap
    .copy-wrap
      %h2
        Visibility and Leadership for
      %h1
        Women Software Developers

      %p
        Write/Speak/Code is on a mission to empower women software developers
        to become thought leaders, conference speakers, and open source contributors. 
        We run conferences and events across the US.

      %i.fa.fa-chevron-down

%section#banner2.banner
  .image-wrap
    = image_tag image_path('2013-conf/DSC_9712_1.jpg')
  .wrap
    .copy-wrap
      %h2
        Write/Speak/Code Conference 2016 
      %br.header-break/

      %h3
        We are happy to announce that our next conference will take place:
      
      %h3
        Chicago 
      %br
        June 15 - 17, 2016.
      
      %br.header-break/
      %br.header-break/

      %h4
        Subscribe to our newsletter and stay up to date with all upcoming news on the conference and local events!

      .newsletter-signup
        = partial "mailchimp"

   