%ul.inline
  %li.day_icon
    %i.write-icon
  %li.day_icon
    %i.speak-icon
  %li.day_icon
    %i.code-icon

%p.sponsor_announce
  Write/Speak/Code 2015 would not be possible without the generous support of our amazing sponsors.
%h3.sponsor_announce
  Thank You

= partial 'sponsor_list', locals: { filter: 'conference' }