---
title: Sponsor Write/Speak/Code
alias: ["sponsor.html", "sponsors/index.html"]
page_class: 'sponsors'
layout: 'conference_layout'
sub_page: true
---

%h1.recruit
  %span Recruit
  %i.fa.fa-star-o
  %span Inspire
  %i.fa.fa-star-o
  %span Engage

%h1
  Women Technology Leaders

.images
  = image_tag '2013-conf/DSC_9381_1.jpg'
  = image_tag '2013-conf/DSC_9329_1.jpg'

%p
  %strong= link_to "Write/Speak/Code International Conference", "/conference"
  is the only event focused on increasing the
  %span.callout-primary visibility and leadership of women software engineers.
%p
  Write/Speak/Code sponsorship is the most effective way to recruit talented,
  driven women to fill key technical positions and demonstrate your commitment
  to developing the women developers in your organization.

%p
  %a.button.primary{ href: '/images/sponsors/WriteSpealCode-SponsorshipProspectus-2015.pdf' }
    Download Prospectus
  %a.button.notice{ href: 'mailto:sponsor@writespeakcode.com' }
    Email us



-#= partial 'sponsor_list', locals: { filter: 'conference' }
